.green {
    color: #21BA45!important;
}

.border-green {
    border-color: #21BA45!important;
}

.btn-green {
    background-color: #21BA45!important;
    color: white;
}

@media (min-width: 992px) {
    .contact-body {
        background-image: url('../img/bkg-2.jpeg');
        background-repeat: no-repeat;
    }

    .home-body {
        background-image: url('../img/bkg-1.jpg');
        background-repeat: no-repeat;
    }

    .exp-body {
        background-image: url('../img/bkg-3.jpeg');
        background-repeat: no-repeat;
    }
}